img{
	width: 500px;
	height: 500px; 
	object-fit: cover;

}

body {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;

	display: flex; 
	flex-wrap: wrap;
}

#title  {
	font-size: 70px;

}

#text {
	
}

div {
	width: 50%
	}